<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Signup Now</title>
</head>
<body>
    <section class="vh-100" style="background-color: #9A616D;">
        <div class="container py-2 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                                    alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-3 p-lg-3 text-black">
                                    <form action="{% url 'signup' %}" method="post">
                                    {% csrf_token %}
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                        <span class="h1 fw-bold mb-0">ElevateX Sports</span>
                                    </div>

                                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign up your account</h5>
                                    <div class="form-outline mb-4">
                                        <input type="text" id="username" class="form-control form-control-lg" name="username" />
                                        <label class="form-label" for="username">Username</label>
                                        <div id="username-feedback" class="text-danger"></div>
                                    </div>
                                    <div class="form-outline mb-4">
                                    <input type="email" id="email" class="form-control form-control-lg" name="email" />
                                    <label class="form-label" for="email">Email</label>
                                    <div id="email-feedback" class="text-danger"></div>
                                </div>

                                    <div class="form-outline mb-4">
                                        <input type="password" id="password1" class="form-control form-control-lg password-input" name="password1"/>
                                        <label class="form-label" for="password1">Password</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="password" id="password2" class="form-control form-control-lg confirm-password-input" name="password2"/>
                                        <label class="form-label" for="password2">Confirm Password</label>
                                    </div>


                                    <div class="pt-1 mb-4">
                                        <button class="btn btn-dark btn-lg btn-block" type="submit">Signup</button>
                                    </div>
                                    <a href="{% url 'login' %}" >I already have an account</a>
                                         </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Username availability check
        $("#username").keyup(function () {
            var username = $(this).val();
            $.ajax({
                type: "GET",
                url: "{% url 'check_username' %}",
                data: {'username': username},
                success: function (data) {
                    if (data.exists) {
                        $("#username-feedback").text("Username already exists.");
                    } else {
                        $("#username-feedback").text("");
                    }
                }
            });
        });

        // Email availability check
        $("#email").keyup(function () {
            var email = $(this).val();
            $.ajax({
                type: "GET",
                url: "{% url 'check_email' %}",
                data: {'email': email},
                success: function (data) {
                    if (data.exists) {
                        $("#email-feedback").text("Email already in use.");
                    } else {
                        $("#email-feedback").text("");
                    }
                }
            });
        });

        // Password matching check
        $(".password-input, .confirm-password-input").keyup(function () {
            var password1 = $("#password1").val();
            var password2 = $("#password2").val();
            if (password1 === password2) {
                $(".confirm-password-input").css("background-color", "white");
            } else {
                $(".confirm-password-input").css("background-color", "#FFCCCC");
            }
        });
    });
</script>


</body>
</html>
