    {% extends 'form/welcomepages/base1.html' %}

{% block content %}
 {% load static %}

         <video autoplay muted loop src="{% static 'files/judofight2.mp4' %}"></video>
        </div>
        <div class="page2">
            <h1>Meaning of "Taekwondo"</h1>
            <div class="page2-container">
                <div class="page2-left">
                    <h2>The word "Taekwondo" can be broken down as follows:<br>
                        1.Tae (태): Represents foot techniques, including kicks and strikes with the feet.<br>
                        2.Kwon (권): Represents hand techniques, including punches and strikes with the hands.<br>
                        3.Do (도): Means "the way" or "the path." It signifies the martial art's philosophical and moral aspects.
                        </h2>
                </div>
                <div class="page2-right">
                    <p>From a legendary Taekwondo player </p>
                    <div class="parent">
  <div class="card">
      <div class="content-box">
          <span class="card-title">— Grandmaster Dr. Tae Yun Kim</span>
          <p class="card-content">
              "Success is not the key to happiness. Happiness is the key to success. If you love what you are doing, you will be successful."
          </p>
          <span class="see-more" id="see">See More</span>
      </div>
      <div class="date-box">

      </div>
  </div>
</div>
                </div>
            </div>

        </div>
        <div class="page3">
            <h1>Five Tenets of Taekwondo:</h1>
<h2>1.Courtesy (예의, Ye-ui): <br>
    Definition: Courtesy in Taekwondo refers to showing respect, politeness, and consideration toward others.<br>
Practical Application: Taekwondo practitioners are taught to bow to instructors and fellow students as a sign of respect. This tenet emphasizes the importance of humility and treating others with kindness. <br><br>
    2.Integrity (염치, Yeomchi): <br>
    Definition: Integrity means being honest, truthful, and morally upright in all actions and decisions.<br>
Practical Application: Taekwondo students are encouraged to maintain honesty both on and off the training mat. This tenet instills a sense of ethics and moral character.<br><br>
    3.Perseverance (인내, Innai):<br>
    Definition: Perseverance involves maintaining determination, resilience, and patience in the face of challenges and obstacles. <br>
Practical Application: Taekwondo teaches students to never give up, even when facing difficulties during training or in life. This tenet fosters mental strength and determination.<br><br>
    4.Self-Control (극기, Geukgi): <br>
    Definition: Self-control means having discipline over one's actions, emotions, and impulses. <br>
Practical Application: Taekwondo emphasizes the importance of controlling one's temper and avoiding aggression. Practitioners learn to harness their energy and focus it on productive goals. <br><br>
    5.Indomitable Spirit (백절불굴, Baekjeol Bulgul): <br>
    Definition: Indomitable spirit is the unwavering determination to overcome challenges and never be defeated. <br>
Practical Application: Taekwondo encourages a strong will and the belief that no obstacle is insurmountable. This tenet inspires students to face adversity with courage. <br><br>





</h2>
        </div>
        <div class="page4">
            <div class="elem">
                <img src="https://img.freepik.com/free-photo/low-angle-people-practicing-taekwondo_23-2150260469.jpg?size=626&ext=jpg"
                    alt="">
                <div class="text-div">
                    <h1>Beginner</h1>
                    <h1>Beginner</h1>
                </div>
                <img src="https://img.freepik.com/free-photo/front-view-woman-practicing-taekwondo_23-2150260486.jpg?size=626&ext=jpg&ga=GA1.2.722028033.1694535648&semt=ais"
                    alt="">
            </div>
            <div class="elem">
                <img src="https://img.freepik.com/premium-photo/couple-practicing-martial-arts-top-mountain-generative-ai_212944-27653.jpg?size=626&ext=jpg&ga=GA1.2.722028033.1694535648&semt=ais"
                    alt="">
                <div class="text-div">
                    <h1>Intermediate</h1>
                    <h1>Intermediate</h1>
                </div>
                <img src="https://img.freepik.com/free-photo/active-training-professional-female-judoist-white-judo-kimono-practicing-training-isolated-blue-neoned-studio-background_155003-24254.jpg?size=626&ext=jpg"
                    alt="">
            </div>
            <div class="elem">
                <img src="https://img.freepik.com/premium-photo/dynamic-martial-artist-action-pose-generative-ai_742252-18400.jpg?size=626&ext=jpg&ga=GA1.2.722028033.1694535648&semt=ais"
                    alt="">
                <div class="text-div">
                    <h1>Advance</h1>
                    <h1>Advance</h1>
                </div>
                <img src="https://img.freepik.com/premium-photo/karate-fight-top-view-martial-arts-sports-competiotion-personal-trainer-coach-mma-fighting-workout-taekwondo-training-fitness-exercise-teacher-wrestling-challenge-gym-floor_590464-111938.jpg?size=626&ext=jpg&ga=GA1.2.722028033.1694535648&semt=ais"
                    alt="">
            </div>

        </div>
       document.getElementById("see").addEventListener("click", function () {
    window.location.href = "https://taekwondo.fandom.com/wiki/Tae_Yun_Kim";
  });
    {% endblock %}